html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ffffff;
}
/* Style the header background and add padding */
.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the header links */
.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color when mouse hovers over */
.header a:hover {
  background-color: #dcdcdc;
  color: #dc143c;
}

/* Style the active/current link*/
.header a.active {
  background-color: #dc143c;
  color: #ffffff;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-right: 50px;
}

/* body content */
body {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
  background-color: #000000;
}
body a {
  color: #ffffff;
  text-decoration: none;
}
body a:hover {
  color: #dc143c;
}
.about {
  text-align: left;
}
.thesaurus {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 20px;
  text-decoration: underline;
}
h2 {
  font-size: 18px;
}
p {
  font-size: 16px;
  margin-left: 150px;
  margin-right: 150px;
}
.page {
  /*News page designs should be floated to the left*/
  float: left;
  margin-right: 50px;
  margin-left: 300px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6px;
}

/* Create four equal columns that sit next to each other */
.column {
  flex: 24%;
  max-width: 24%;
  padding: 0 6px;
}

.column img {
  margin-top: 12px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
